form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 6px;
    height: 70dvh;
    width: 100dvw;
}