<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudantes</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <form action="/students" method="post">
        <input type="text" name="name">
        <button type="submit" value="Cadastrar">Cadastrar</button>
    </form>
    <hr>
    <section>
        <% for (const student of students) { %>
            <pre>
                <a href="/students/<%= student.name %>">
                {
                    "id": <%= student.id %>
                    "name": "<%= student.name %>"
                }
                </a>
            </pre>
        <% } %>
    </section>
</body>
</html>