<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudantes</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div class="container">
        <h1>Estudantes</h1>
        <div class="form-container">
            <form action="/students" method="post">
                <input type="text" name="name" placeholder="Nome do estudante..." required>
                <button type="submit">Cadastrar</button>
            </form>
        </div>

        <main class="student-list">
            <% for (const student of students) { %>
                <a href="/students/<%= student.name %>" class="student-card">
                    <h2 class="student-name"><%= student.name %></h2>
                    <span class="student-id">ID: <%= student.id %></span>
                </a>
            <% } %>
        </main>
    </div>
</body>
</html>